{% extends 'template.html' %}

{% load current_and_previous %}

{% block content %}

{% include "find_by_uri.html" %}

	<ul id="myTab" class="nav nav-tabs">
            <li {% if not source  %} class="active" {% endif %} ><a href="{% url 'browse' %}" data-toggle="tab">All</a></li>
            {% for sourceopt in sources %}
            <li {% ifequal source sourceopt %}class="active"{% endifequal %}><a href="{% url 'browse' sourceopt %}" data-toggle="tab">{{sourceopt}}</a></li>
            {% endfor %}
              </ul>
            </li>
          </ul>

      <h1>Changed Articles {% block browse_fromline %}{% endblock browse_fromline %}</h1>
      <p>Starting {{first_update|date:"F d, Y"}} (with occasional downtime)</p>
      <p>  

    <table class="table table-condensed"  style="width:100%">
      <thead><tr><th text-align:"left";>Article</th><th>Version</th><th>Diff</th></tr></thead>
      <tbody>
      {% for article in articles %}
      {% with versions=article.version_set.all|slice:":10"|current_and_previous %}
      <tr><td rowspan="{{versions|length}}" valign="top"><a href="{% url "article_history" article.filename %}">{{article.latest_version.title}}</a> (<a href="{{article.url}}">{{article.publication}}</a>)<br>{{article.latest_version.byline}}</td>
        {% for previous_version, version in versions %}
        <td>{{version.date}}</td>
        {% if previous_version %}
        <td><a href="{% url "diffview" vid1=previous_version.pk vid2=version.pk urlarg=article.filename %}">(Compare)</a></td></tr><tr>
        {% else %}
        <td></td><td></td></tr>
        {% endif %}
        {% endfor %}

       {% if article.version_set|length > 10 %}
       <tr><td></td><td></td><td>...</td></tr>
       {% else %}
       {% endif %}
      {% endwith %}
      {% endfor %}
      </tbody>
    </table>

    <div>
    <span>
    {% if articles.has_previous %}
      <a href="{% url 'browse' source %}?page={{ articles.previous_page_number}}">Previous</a>
    {% endif %}
    </span>

    <span>Page {{ articles.number }} of {{articles.paginator.num_pages }}</span>

    <span>
    {% if articles.has_next %}
      <a href="{% url 'browse' source %}?page={{ articles.next_page_number}}">Next</a>
    {% endif %}
    </span>
    </div>

{% endblock %}
