CONFIG = {
    'environment': {
       'VIRTUAL_ENV': '/usr/django/bijgeschaafd/env',
       'PATH': '/usr/django/bijgeschaafd/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games',
    },
    'python': '/usr/django/bijgeschaafd/env/bin/python',
    'mode': 'wsgi',
    'working_dir': '/usr/django/bijgeschaafd/',
    'user': 'bijgeschaafd',
    'group': 'bijgeschaafd',
    'args': (
        '--bind=127.0.0.1:8000',
        '--workers=4',
	'--timeout=90',
        'bijgeschaafd.wsgi',
    ),
}

