{% extends 'template.html' %}

{% block active_about %} active{% endblock %}

{% block content %}
<p>Bijgeschaafd is een Nederlandse variant van <a href="http://newsdiffs.org">Newsdiffs</a> waar er veranderingen van artikelen op verschillende nieuwssites worden bijgehouden, dit kan je terugvinden bij het kopje 'Veranderingen'. Daarnaast worden er ook overeenkomsten tussen artikelen van verschillende nieuwssites bijgehouden, dit is te zien bij het kopje 'Verwant'.</p>

<p>Om te zien hoe het werkt kan je de broncode bekijken op <a href="https://github.com/flupzor/bijgeschaafd">de Github repository</a>.</p>

<p>Heb je vragen, opmerkingen? Dan kan je contact met mij opnemen via <a href="https://twitter.com/flupzor">Twitter</a> of via <a href="mailto:alex AT flupzor.nl">E-mail</a></p>
{% endblock %}
