{% extends 'template.html' %}

{% block title %}Artikelgeschiedenis{% endblock %}

{% block content %}

{% include "find_by_uri.html" %}

{% with article.latest_version as latest_version %}
<h1>{{latest_version.title}} ({{article.publication}}), Veranderingen</h1>
<h3><a href="{{article.url}}">{{article.url}}</a></h3> 
<h3>{% if latest_version.byline %} {{latest_version.byline}} | {% endif %} Als eerste gearchiveerd op {{article.initial_date}}</h3>
{% endwith %}
<p>
<table class="table table-condensed"  style="width:100%">
    <thead>
      <tr>
        <th>Artikel</th>
        <th>Versie</th>
        <th>Wijziging</th>
      </tr>
    </thead>

    {% for difflink, version in versions %}
    <tr>
      <td><a href="{{link}}">{{version.title}}</a></td>
      <td>{{version.date}}</td>
      {% if difflink %}
      <td><a href="{{difflink}}">(Vergelijk)</a></td>
    {% else %}
    <td></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>

{% endblock %}
