{% extends 'template.html' %}

{% load pagination %}

{% block active_verwant %} active{% endblock %}

{% block content %}
<table class="table table-condensed">
  <thead>
    <tr><th>Artikel</th><th>Lijkt op</th><th>Gelijkenis</th><th>Vergelijking</th></tr>
  </thead>
  <tbody>
  {% cycle "white" "lightgrey" as rowcolors silent %}
  {% for cluster in page_obj %}
  {% for similarity in cluster.similararticle_set.all %}
    <tr style="background-color: {% ifchanged cluster %}{% cycle rowcolors %}{{ rowcolors }}{% else %}{{ rowcolors }}{% endifchanged %}">
    {% with from_version=similarity.from_article.first_version to_version=similarity.to_article.first_version %}
      <td>{{ from_version.title }} ({{ from_version.article.source }})</td>
      <td>{{ to_version.title }} ({{ to_version.article.source }}) </td>
      <td>{{ similarity.get_ratio_percentage }}%</td>
      <td><a href="{% url "diffview2" vid1=from_version.pk vid2=to_version.pk %}">(Vergelijk)</a></td>
    {% endwith %}
    </tr>
  {% endfor %}
  {% endfor %}
  </tbody>
</table>
<div class="pull-xs-right">
{% url 'similararticle_list' as similararticle_list_url %}
{% pagination page_obj similararticle_list_url %}
</div>
{% endblock %}
