{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bijgeschaafd{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bijgeschaafd.nl geeft een overzicht van alle wijzigingen die er gemaakt zijn in nieuwsartikelen.">
    <meta name="author" content="Alexander Schrijver">

    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet" media ="screen">

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block head %} {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-dark bg-primary navbar-static-top m-b-2">
        <a class="navbar-brand" href="{% url 'root' %}">Bijgeschaafd</a>
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link{% block active_browse %}{% endblock %}" href="{% url 'browse' %}">Veranderingen</a></li>
          <li class="nav-item"><a class="nav-link{% block active_verwant %}{% endblock %}" href="{% url 'similararticle_list' %}">Verwant</a></li>
          <li class="nav-item"><a class="nav-link{% block active_about %}{% endblock %}" href="{% url 'about' %}">Over bijgeschaafd</a></li>
          <li class="nav-item"><a class="nav-link{% block active_search %}{% endblock %}" href="{% url 'search' %}">Zoeken</a></li>
        </ul>
    </div>

    <div class="container">
      <div class="row">
        {% block content %} {% endblock content%}
      </div>
    </div>
  </body>
</html>
